body {
    background-color: var(--color-dark1);
    font-family: sans-serif;
    color: var(--color-white);

}

.header,
.navigation_header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header {
    background-color: var(--color-dark2);
    box-shadow: 1px 1px 4px var(--color-dark4);
    height: 56px;
    justify-content: space-between;
    padding: 0 10%;
}

.navigation_header {
    gap: 3em;
    z-index: 2;
}

.navigation_header a {
    text-decoration: none;
    color: var(--color-purple);
    transition: 1ms;
    font-weight: bold;
}

:root {
    --color-white: #fff;
    --color-dark1: #272727;
    --color-dark2: #2d2d2d;
    --color-dark3: #414141;
    --color-dark4: #1c1c1c;
    --color-dark5: #343434;
    --color-purple: #1E90FF;
}

* {
    margin: 0;
    padding: 0;
}

.logolm {
    width: 100px;
}

.active {
    background-color: var(--color-dark3);
    padding: 10px;
    border-radius: 10px;
}

.content {
    width: 100px;
    margin-left: 200px;
    text-align: center;
    padding-top: 10em;
    height: 100vh;
    transition: 1s;
    display: flex;
}

.descobrir {
    width: 300px;
    height: 50px;
    background-color: var(--color-purple);
    border-radius: 30px;
    box-shadow: none;
}

#titulo {
    font-size: 80px;
    color: var(--color-purple);
}

.btn_icon_header {
    display: none;
    background-color: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;

}

@media screen and (max-width: 768px) {
    .btn_icon_header {
        display: block;
    }

    .navigation_header {
        position: absolute;
        flex-direction: column;
        top: 0;
        background-color: var(--color-dark5);
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw
    }

    @keyframes showSidebar {
        from {
            margin-left: -100vw;
        }

        top {
            margin-left: -10vw;
        }

    }
}

.imagem {
    margin-left: 518px;
}

.divisao {
    display: flex;
}

#fundo {
    width: 700px;
    height: 900px;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
}

* {
    font-family: 'inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}
main{
    height: 80rem;
}

footer {
    width: 100%;
    color: var(--color-neutral-40);
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;

}

#footer_contacts h1 {
    margin-top: 0.75rem;

}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link {
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;

}

#footer_social_media .footer-link:hover {
    opacity: 0.5;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d366;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;

}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer-list .footer-link :hover {
    color: #7f37c9;

}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {

    color: var(--color-neutral-30);
}

#input_group{
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: #7f37c9;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;

}
#input_group button :hover{
    opacity: 0.5;

}

#footer_copyright{
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

@media screen and (max-widht:768px){
    #footer_content{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;

    }
}

@media screen and (max-widht:426px){
    #footer_content{
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
        
    }
}
